@tailwind base;
@tailwind components;
@tailwind utilities;

/* @apply base font-pin{
    font-size: 0.8rem;
} */
body{
    overflow-x: hidden !important;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}